<!DOCTYPE html>
<html>
<head>
</head>
<body style="background-color: #ebebeb;padding: 20px 0;font-size: 14px;">
  <div style="max-width: 800px;margin: 0 auto;background-color: white;padding: 30px;">
    <p style="margin-bottom: 10px;">
      <b>{{ .ApplicantName }}</b> has applied for <b>{{ .JobTitle }}</b> on {{ .Source }}.
    </p>
    <p style="margin-bottom: 10px;">
      Go to <a href="https://connect.onehcm.com/products/jobs">OnePoint Connect</a> to view their information and send them instructions to complete their application on the OnePoint Recruitment module.
    </p>
    <p style="margin-bottom: 10px;">
      You are receiving this notification because this email address is set as the primary contact for Recruitment in <a href="https://connect.onehcm.com/products/jobs">OnePoint Connect</a>, login to change this setting if you want it to go to another address.
    </p>
  </div>
</body>
</html>
