<!DOCTYPE html>
<html>

<head>
  <style type="text/css">
    table {
      text-align: center;
    }

    #mainbox {
      padding: 30px;
      border-radius: 5px;
    }

    #footer {
      padding: 40px 0 0 0;
      font-size: 10px;
    }

    @media only screen and (max-width: 600px) {
      #mainbox {
        padding: 10px;
      }
    }
  </style>
</head>

<body style="background-color: #ebebeb;padding: 20px 10px;font-size: 14px;line-height: 1.2;">
  <div id="mainbox"
    style="max-width: 800px;margin: 0 auto;text-align: left;background-color: white;padding: 30px;border-radius: 5px;">
    <div style="text-align: center;margin: 20px 0;">
      <img style="width: 100%;max-width: 100px;" src="https://storage.googleapis.com/onepoint-static/exwire-logo.png">
    </div>
    <p>
      Congratulations on accepting your offer of employment with Exclusive Wireless!
    </p>
    <p>
      What's next? <b>You've been assigned a checklist in our system, which must be completed as soon as possible.</b>
      It's easy, just follow the steps bellow!
    </p>
    <p>
      Login <a href="{{ .LoginLink }}">here</a> using the credentials below:
    </p>
    <p style="padding-left: 20px;">
      Username: {{ .Username }}<br>
      Password: {{ .Password }}
    </p>
    <p>
      Upon entering these credentials you will be asked to choose a new password.
    </p>
    <p style="margin: 15px 0 5px 0;font-size: 18px;font-weight: bold;">
      Requirement:
    </p>
    <p>
      Have 2 forms of ID available to upload. Both forms of identification have to be provided before we move forward
      with your hiring process.
    </p>
    <p style="margin: 15px 0 5px 0;font-size: 18px;font-weight: bold;">
      To complete the forms:
    </p>
    <p>
      <b style="color: #fbae1e;">Step 1.</b> Click on the bell <img style="width: 30px;"
        src="https://storage.googleapis.com/onepoint-static/google_hire_email_bell.png"> on the upper right corner.
    </p>
    <p>
      <b style="color: #fbae1e;">Step 2.</b> Click on the magnifying glass <img style="width: 30px;"
        src="https://storage.googleapis.com/onepoint-static/google_hire_email_magnifying_glass.png"> on the left to go
      into each form and
      complete. (Please note: Forms will have multiple pages)
    </p>
    <p>
      <b style="color: #fbae1e;">Step 3.</b> Once all fields have been completed, and all areas have been signed. Click
      <b>Save</b> and then <b>Submit</b>.
    </p>
    <p>
      <b style="color: #fbae1e;">Step 4.</b> Go down the list to and check all items have been “Completed:” followed by
      your name.
    </p>
    <p>
      <b style="color: #fbae1e;">Step 5.</b> Once an item is complete it will change from 0% to 100% on the far right.
    </p>
    <p style="margin-top: 40px;">
      If you have any questions or concerns please contact <i>Recruiting at 559-432-3002 ext 1035</i>.
    </p>
  </div>
</body>

</html>